[Unit]
Description=my-wificonfig daemon
Requires=wpa_supplicant.service
After=wpa_supplicant.service

[Service]
Type=simple
ExecStart=/usr/bin/wificonfig.sh
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target